.feed-content {
    margin-top: 150px;
    padding-bottom: 80px;
    overflow-y: auto;
    min-height: calc(100vh - 64px - 56px);
  }
  
  .friends-public-switch {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
  }
  
  .no-friends-text {
    margin-top: 50px !important;
    text-align: center;
  }